<div class="animated fadeIn">



  <div class="row">
    <div class="col-md-12">
    <div cdkDropListGroup>
      <div class="row">
      <div class="col-md-6">
        <div class="example-container">
          <h2>Available items</h2>

          <div
            cdkDropList
            [cdkDropListData]="items"
            class="example-list"
            cdkDropListSortingDisabled
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of items" cdkDrag>{{item.name}}</div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="example-container">
          <h2>Shopping basket</h2>

          <div
            cdkDropList
            [cdkDropListData]="basket"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of basket" cdkDrag>{{item.name}}</div>
          </div>
        </div>
      </div>
      </div>j

      {{items | json}}


    </div>
  </div>
  </div>

------------------------------------------------
  <div class="row">
    <div class="col-md-12">
      <div class="dragging-container">
        <div class="list" (cdkDropListDropped)="dropEvent($event)" cdkDropList>
          <div class="box" *ngFor="let color of colors" cdkDrag>
            <div class="placeholder" *cdkDragPlaceholder></div> {{color}}
          </div>
        </div>
    </div>


  </div>



  <div class="row">




    <div class="col-md-4">
      <div class="row dragdrop" [dragula]='"second-bag"'>
        <div class="col-md-12">
          <div class="card card-accent-secondary">
            <div class="card-header drag">
              Drag &amp; Drop Card 1
              <a href="https://coreui.io/pro/angular/" class="badge badge-danger ml-2">CoreUI Pro Component</a>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-accent-primary">
            <div class="card-header drag">
              Drag &amp; Drop Card 2
              <a href="https://coreui.io/pro/angular/" class="badge badge-danger ml-2">CoreUI Pro Component</a>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row dragdrop" [dragula]='"second-bag"'>
        <div class="col-md-12">
          <div class="card card-accent-success">
            <div class="card-header drag">
              Drag &amp; Drop Card
              <a href="https://coreui.io/pro/angular/" class="badge badge-danger ml-2">CoreUI Pro Component</a>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-accent-warning">
            <div class="card-header drag">
              Drag &amp; Drop Card
              <a href="https://coreui.io/pro/angular/" class="badge badge-danger ml-2">CoreUI Pro Component</a>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row dragdrop" [dragula]='"second-bag"'>
        <div class="col-md-12">
          <div class="card card-accent-info">
            <div class="card-header drag">
              Drag &amp; Drop Card
              <a href="https://coreui.io/pro/angular/" class="badge badge-danger ml-2">CoreUI Pro Component</a>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-accent-danger">
            <div class="card-header drag">
              Drag &amp; Drop Card
              <a href="https://coreui.io/pro/angular/" class="badge badge-danger ml-2">CoreUI Pro Component</a>
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
